*:{$PORT} *:80 {
    root /app/{$PUBLIC_DIR}

    log / stdout "\"{method} {uri}\" => {status} ({size})" {
        ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
        except /$
        except /metrics
    }

    rewrite {
        to {path} {path}/ /index.php?{query}
    }

    fastcgi / 127.0.0.1:9000 php

    tls off
    gzip
}
